#navigation{
    position: absolute;
    top: 90px;
    left: 20px;
    background: #eeeeee; ;
    border-radius: 1em;
    width : 300px;
    height : 200px;
    box-shadow: 5px 5px 10px gray;
}

#navigation p, #info-box p{
    font-family: 'Shrikhand', cursive;
    font-size: 1.5em;
    color : #63A8FF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    left : 50%;
    top : 20px;
    transform: translate(-50%, -50%);
}

#nav-context{
    position: absolute;
    top : 100px;
    left : 20px;
}

.close{
    color : white;
    position:absolute;
    right: 20px;
    top : 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

#nav-btns{
    position: absolute;
    top: 40px;
    left: 10px;
    background-color:transparent;
}

#info-box{
    position: absolute;
    /*visibility: hidden;*/
    top: 30px;
    right: 20px;
    background: #eeeeee;
    border-radius: 1em;
    width: 500px;
    height : 500px;
    box-shadow: 3px 3px 5px gray;
}